name: Daily Chromium Docker Redis CVE Alert

on:
  schedule:
    # 台灣 UTC+8 → 每天 09:00 = UTC 01:00
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  cve_alert:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install requests

    - name: Run CVE script
      env:
        API_KEY: ${{ secrets.API_KEY }}
      run: |
        python cve.py Chromium Docker Redis > cve_output.txt

    - name: Check if CVE result is empty
      id: check_output
      run: |
        if grep -q "CVE-" cve_output.txt; then
          echo "found=true" >> $GITHUB_OUTPUT
        else
          echo "found=false" >> $GITHUB_OUTPUT
        fi

    - name: Send Email (Only if CVEs found)
      if: steps.check_output.outputs.found == 'true'
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.office365.com
        server_port: 587
        secure: true
        username: ${{ secrets.EMAIL_USER }}
        password: ${{ secrets.EMAIL_PASS }}
        subject: "NIST NVD CEV Feed"
        to: ${{ secrets.RECIPIENT }}
        from: ${{ secrets.EMAIL_USER }}
        body: |
          以下是最近 24 小時新發佈的 CVE：
          
          $(cat cve_output.txt)
