name: Daily Chromium Docker Redis CVE Alert

on:
  schedule:
    # 台灣 UTC+8 → 每天 09:00 = UTC 01:00
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  cve_alert:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install requests

    - name: Run CVE script
      env:
        API_KEY: ${{ secrets.API_KEY }}
      run: |
        python3 cve.py Chromium Docker Redis > cve_output.txt

    - name: Check if CVE result is empty
      id: check_output
      run: |
        if grep -q "CVE-" cve_output.txt; then
          echo "found=true" >> $GITHUB_OUTPUT
        else
          echo "found=false" >> $GITHUB_OUTPUT
        fi

    - name: Send email via SendGrid
      if: steps.checkfile.outputs.send_email == 'true'
      uses: actions/github-script@v7
      with:
        script: |
          const fs = require('fs');
          const fetch = require('node-fetch';

          const SENDGRID_API_KEY = process.env.SENDGRID_API_KEY;
          const content = fs.readFileSync('cve_output.txt', 'utf8');

          await fetch("https://api.sendgrid.com/v3/mail/send", {
            method: "POST",
            headers: {
              "Authorization": `Bearer ${SENDGRID_API_KEY}`,
              "Content-Type": "application/json"
            },
             body: JSON.stringify({
              personalizations: [{ to: [{ email: "${{ secrets.RECIPIENT }}" }] }],
              from: { email: "${{ secrets.RECIPIENT }}" },
              subject: "NIST NVD CVE Report",
              content: [{ type: "text/plain", value: content }]
            })
          });
      env:
        SENDGRID_API_KEY: ${{ secrets.SENDGRID_API_KEY }}
