name: Daily Chromium Docker Redis Filebeat Chrome Kernel HTTP CVE Alert

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  cve_alert:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install requests

    - name: Run CVE script
      env:
        API_KEY: ${{ secrets.API_KEY }}
      run: |
        python cve.py Chromium Docker Redis Filebeat Chrome Kernel HTTP > cve_output.txt

    - name: Check if CVE result is empty
      id: check_output
      run: |
        if grep -q "CVE-" cve_output.txt; then
          echo "found=true" >> $GITHUB_OUTPUT
        else
          echo "found=false" >> $GITHUB_OUTPUT
        fi
        cat $GITHUB_OUTPUT

    - name: Send email via SendGrid
      if: steps.check_output.outputs.found == 'true'
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.gmail.com
        server_port: 465
        username: ${{ secrets.GMAIL_USERNAME }}
        password: ${{ secrets.GMAIL_PASSWORD }}

        subject: "NIST NVD CVE Report"
        to: ${{ secrets.RECIPIENT }}
        from: GitHub Actions <${{ secrets.MAIL_USERNAME }}>
        
        body: |
          你好，這是最新的 CVE 報告：
          
          body: file://cve_output.txt

        # attachments: cve_output.txt
